.sidebar {
  width: 240px;
  height: 100%;
  padding: 16px;
  background-color: #fafafa;
  border-right: 1px solid #e0e0e0;
}

mat-nav-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.active {
  background-color: rgba(66, 66, 66, 0.08);

  mat-icon {
    color: #424242;
  }

  span {
    color: #424242;
    font-weight: 500;
  }
}
